body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: firebrick;
    color: wheat;
    
    

}
h1{
    background-color:wheat;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 5px 5px gray;
    color: firebrick;
    border: 5px solid red
}
nav{
    background-color: #323232;
    height: 40px;
    padding: 0px;
}
nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
nav li{
    overflow: hidden;
    float: left;
    margin: 0px;
    padding: 10px;
    text-transform: uppercase;
    height: 40px;
}
nav li a{
    text-decoration: none;
    color: #fff;
    margin: 0px;
}
nav li:hover{
    background-color: #ffe699;
}
.pocetna{
    background-color: red;
    color: #fff;
}
ul img{
    width: 45px;
}
.okvir{
    background-color: wheat;
    border-radius: 10px;
    border: 1px solid black;
    padding: 15px;
    color: firebrick;
}
#potpis{
    color: firebrick;
    border: 2px solid red;
    background-color: wheat;
    text-align: center;
}
